[build]
  command = "npm install -D @rollup/rollup-linux-x64-gnu && npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  targetPort = 5173

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
